*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: linear-gradient(to right, #26254d, #13d68c);
}

body {
    margin: 0;
    background-image: none;
    background-color: transparent;
}

h2{
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

p{
    color: #fff;
    text-align: center;
    background-color: none;
    background-image: none;
}


#qcaListInput {
    display: block;
    margin-top: 10px;
    border: none;
    margin-left: 500px;
    background-color: transparent;
    background-image: transparent;
    color: #fff;
}

.jobDetails {
    background-color: none;
    background-image: none;
}

#rankName {
    background-color: none;
    background-image: linear-gradient(to right,  #9696967c, #8f8f8f6c, #8a8a8a75);
}

.nav{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
    margin-top: 30px;
    margin-left: 40px;
    position: absolute;
    background-image: linear-gradient(to right,  #9696967c, #8f8f8f6c, #8a8a8a75);
    z-index: 0; 
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 25px;
}

#studentnav {
    margin-left: 150px;
}

.nav ul{
    list-style: none;
    background-image: none;
    margin-left: 35px;
    padding: 9px;
}

.nav a{
    background-image: none;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 470;
    text-decoration: none;
    padding: 0 50px;
    margin-left: 50px;
    display: inline;
    position: relative;
}

.nav a:hover{
    color: #71f59d;
}

.nav li{
    float: left;
    background-image: none;
}

.Overall-title{
    text-align: center;
    padding-top: 50px;
    color: #fff;
    margin: 0;   
    background-color: transparent; 
}

.header{
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-main{
    color: #ffffff;
    height: 460px;
}

.home-main h1{
    margin-top: 120px;
    text-align: center;
    padding: 50px;
    margin-bottom: -40px;
}

.home-main p{
    background-image: none;
    text-align: center;
    display: inline-block;
    margin-inline-start: 170px;
    margin-inline-end: 140px;
}

.details{
    color: #090f42;
    display: block;
    height: 460px;
}

.login-background{
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100vh;
}

.login-forground{
    width: 1000px;
    height: 100%;
    margin-left: 70px;
    background-color: rgba(255, 255, 255, 0.322);
    background-image: none;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}

.login-forground img{
    margin-top: 70px;
    margin-left: 80px;
    border-radius: 20px 20px;
}

.menu{
    background-image: none;
    background-color: transparent;
}

.dropdown-menu {
    backdrop-filter: blur(100%);
  position: absolute;
    padding: -15px;
    background-image: linear-gradient(to right,  #969696bd, #8f8f8fc2, #8a8a8a71);
    opacity: 70%;
    margin-left: 90px;
    border-radius: 25px;
}

.dropdown-menu ul{
    background-image: none;
    background-color: none;
    margin-top: 27px;
    height: 170px;
    width: 10px;
    margin-left: -90px; 
    margin-right: 190px;  
    display: block;
    position: relative;
}

.dropdown-menu a{
    background-color: none;
    color: rgb(255, 255, 255);
}



.login-forground form{
   background-color: none;
   background-image: none;
   width: 700px;
   margin-top: 20px;
   margin-left: 195px;
}

.login-forground form label{
    background-image: none;
    background-color: none;
    margin-left: -165px;
    position: absolute;
}

.login-forground form p{
    background-color:none;
    background-image: none;
    position: relative;
    margin-top: 15px;
    margin-left: 255px;
    background-color: none;
    font-weight: 600;
    width: 200px;
}

.login-forground input{
    background-color: rgba(240, 233, 233, 0.788);
    background-image: none;
    border-radius:  25px;
    margin-left: -4;
    justify-content: space-between;
    margin-bottom: 4px;
}

.login-forground button{
    background-color: rgba(240, 233, 233, 0.788);;
    background-image: none;
    color: #636363;
    border-radius:  25px;
    margin-top: 9px;
}

.login-forground button:hover {
    color: #000;
}

.btn1 {
border-radius: 17px;
margin-bottom: 40px;
padding: 10px;
}

.input1 {
border-radius: 10px;
}

.input2 {
border-radius: 10px;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
}

.rankForm {
    position: absolute;
    margin-top: 120px;
    margin-left: 350px;
    background-color: none;
    background-image: none;
    width: 600px;
    margin: "0 auto";
    padding: 1rem;
}

.rankForm form{
    margin-bottom: 1rem;
    background-color: none;
    background-image: none;
}

.rankForm h2{
    margin-top: 40px;
    color: #fff;
    background-color: none;
    background-image: none;
    position: relative;
}


.sortSpace{
    margin-top: 150px;
}

#sortRank {
    margin-top: 120px;
}

.rankForm input{
background-image: none;
background-color: none;
color: rgb(255, 255, 255);
margin-left: 0px ;
position: absolute;
background-image: linear-gradient(to right,  #969696, #8f8f8f, #8a8a8a);
z-index: 1000; 
transition: background-color 0.3s ease, box-shadow 0.3s ease;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px); 
opacity: 60%;
border-radius: 25px;
margin-top: -10px;
}

.rankForm select.dropdown-button{
background-image: none;
background-color: none;
color: rgb(255, 255, 255);
margin-left: 0px ;
position: absolute;
background-image: linear-gradient(to right,  #969696, #8f8f8f, #8a8a8a);
z-index: 1000; 
transition: background-color 0.3s ease, box-shadow 0.3s ease;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px); 
opacity: 60%;
border-radius: 25px;
margin-top: 40px;
}

.rankForm button{
background-image: none;
background-color: none;
color: rgb(255, 255, 255);
margin-left: 0px ;
position: absolute;
background-image: linear-gradient(to right,  #969696, #8f8f8f, #8a8a8a);
z-index: 1000; 
transition: background-color 0.3s ease, box-shadow 0.3s ease;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px); 
opacity: 60%;
border-radius: 25px;
margin-top: 80px;
}

.rankForm button:hover {
    color: rgb(0, 0, 0);
}

.rankForm p{
    color: #fff;
    background-image: none;
    background-color: none;
    border-radius: 25px;
    padding: 10px;
}

.postForm {
    background-image:  none;
    background-color: none;
    width: 700px;
    margin-left: 275px;
}

.postForm h2{
    background-image:  none;
    background-color: none;
}

.postForm form{
    background-image:  none;
    background-color: none; 
}

.postForm input{
    background-image: linear-gradient(to right,  #96969648, #8f8f8f38, #8a8a8a8a);
    opacity: 60%;
    z-index: 0;
    background-color: none;
    border-radius: 15px;
    color: rgb(90, 90, 90);
}

.postForm input:hover{
    color: #000000;
}

.postForm textarea{
    background-image: linear-gradient(to right,  #96969669, #8f8f8f93, #8a8a8a8a);
    opacity: 60%;
    background-color: none;
    border-radius: 15px;
    color: rgb(90, 90, 90);
}

.postForm textarea:hover{
    color: #000000;
}

.postForm button{
    background-image: linear-gradient(to right,  #969696a9, #8f8f8f93, #8a8a8a8a);
    opacity: 60%;
    background-color: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

.postForm button:hover{
    color: #000;
}

.switch {
background-color: none;
background-image:  none;
margin-left: 580px;
margin-top: 40px;
margin-bottom: -90px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#off{
    margin-left: -70px;
    display: inline;
}

#jobAllocate {
    color: #010953;
    margin-left: -10px;
    background-color: none;
    background-image: none;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: #bbbbbb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: none;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-image: none;
  background-color: #020c64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#signOut {
background-image: none;
background-color: none;
color: #fff;
background-image: linear-gradient(to right,  #969696, #8f8f8f, #8a8a8a);
z-index: 1000; 
transition: background-color 0.3s ease, box-shadow 0.3s ease;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px); 
opacity: 60%;
border-radius: 25px;
position: fixed;
bottom: 20px;    /* Space from the bottom of the viewport */
    right: 20px;
justify-content: space-around;
}

#signOut:hover {
    color: #000;
}

.fetchError p {
    background-color: none;
    background-image: none;
}

.home-students label{
    margin-left: 500px;
    color: #fff;
    background-color: none;
    background-image: none;
}

.home-students input{
    color: #fff;
    background-color: none;
    background-image:  linear-gradient(to right,  #9696968c, #8f8f8f77, #8a8a8a73);
    border-radius: 25px;
}

.home-students button{
    color: #fff;
    background-color: #7ca189;
    background-image: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 500px;
    padding: 2px;
}

.home-students button:hover {
    color: #000;
}

.home-rps {
    background-color: none;
    background-image: none;
    color: #fff;
}

.home-rps h2{
    background-color: none;
    background-image: none;
}

.home-rps label{
    background-color: none;
    background-image: none;
}

.home-rps select {
    background-color: #ffffff83;
    color: #fff;
    background-image: none;
    border-radius: 25px;
}

.rpsDiv {
    margin-top: 20px;
    text-align: center;
    background-color: none;
    background-image: none;
}

.home-rps h3{
    font-size: 25px;
    color: #0c134e;
    margin-top: 40px;
    text-align: center;
}

.home-rps th{
    background-color: none;
    background-image: none;
}

.home-rps td{
    background-color: none;
    background-image: none;
}

#rpsErrorPending {
    margin-bottom: 90px;
}

.home-main h1{
    margin-top: 80px;
    margin-bottom: 5px;
}

.home-main button {
    background-color: #ffffff46;
    padding: 5px;
    display: block;
    margin-top: 0px;
    margin-left: 500px;
    color: #fff;
    background-image: none;
    border-radius: 25px;
    margin-bottom: 20px;
}

.home-main button:hover {
color: #010742;
}

#alloCon{
margin-top: 90px;
margin-bottom: -75px;
}

.home-main{
    margin-bottom: 70px;
}

.switch {
    display: block;
    margin-bottom: 20px;
}

.home-time {
    color: #fff;
    margin-top: 160px;
    align-items: center;
}

.home-time h1{
    background-color: none;
    background-image: none;
text-align: center;
margin-bottom: 20PX;
margin-top: 20px;
}

.home-time p{
    margin-top: 30px;
    margin-left: -55px;
}

#intAllo {
    margin-inline-start: 90px;
    margin-inline-end: 230px;
}