*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #d3d3d3;
}

body {
    margin: 0;
}

.nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    height: 60px;
}


.nav ul{
    background-color: #fff;
    padding: 15px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    position: absolute;
}

.nav a{
    background-color: #fff;
    color: #777777;
    font-size: large;
    font-weight: 470;
    text-decoration: none;
    padding: 0 50px;
    margin-left: 100px;
    display: inline;
}

.nav a:hover{
    color: #000000;
}

.nav li{
    float: left;
    background-color: #fff;
}

.navStaff{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    height: 60px;
    position: absolute;
}


.navStaff ul{
    background-color: #fff;
    padding: 15 15px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navStaff a{
    background-color: #fff;
    color: #777777;
    font-size: large;
    font-weight: 470;
    text-decoration: none;
    padding: 0 50px;
    margin-left: 50px;
    display: inline;
}

.navStaff a:hover{
    color: #000000;
}

.navStaff li{
    float: left;
    background-color: #fff;
}

.Overall-title{
    text-align: center;
    padding-top: 30px;
    color: #fff;
    margin: 0;   
    background-color: transparent; 
}

.header{
    background-image: linear-gradient(to right, #26254d, #13d68c);
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-main{
    color: #090f42;
    height: 460px;
}

.home-main h1{
    text-align: center;
    padding: 50px;
    margin-bottom: -40px;
}

.home-main p{
    text-align: center;
    display: inline-block;
    margin-inline-start: 170px;
    margin-inline-end: 140px;
}

.details{
    color: #090f42;
    display: block;
    height: 460px;
}

.login-background{
    background-image: linear-gradient(to right, #26254d, #13d68c);
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100vh;
}

.login-forground{
    width: 1000px;
    height: 100%;
    margin-left: 70px;
    background-color: #d8d8d8;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}

.login-forground img{
    margin-top: 70px;
    border-radius: 20px 20px;
}

.menu{
    background-color: #fff;
}

.dropdown-menu {
margin-left: -200px;
    position: relative;
    padding: 0 -15px;
    background-color: #fff;
}

.dropdown-menu li{
width: 170px;
}

.dropdown-menu ul{
    background-color: #fff;
    padding: 15px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    position: absolute;
}

.dropdown-menu a{
padding: 0 0px;
}

.form{
   background-color: #d8d8d8;
   width: 700px;
   margin-top: 20px;
   margin-left: 195px;
}

.form p{
    position: relative;
    margin-top: -25px;
    margin-left: 215px;
    background-color: #d8d8d8;
    font-weight: 400;
    width: 200px;
}

.btn1 {
border-radius: 17px;
margin-bottom: 40px;
padding: 10px;
}

.input1 {
border-radius: 10px;
}

.input2 {
border-radius: 10px;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
}